{% extends 'index.html' %}
{% load static %}

{% block Title %} Scanner {% endblock %}

{% block Styles %} <link rel="stylesheet" href="{% static 'scanner.css' %}"> {% endblock %}

{% block Content %}
    {% csrf_token %}
    <div id="video-container">
        <video id="qr-video"></video>
    </div>
    <br>
    <h6><b>Detected QR code: </b> <span id="cam-qr-result">None</span></h6>
    <br>
    <button class="btn btn-success" id="start-button">Start</button>
    <button class="btn btn-danger" id="stop-button">Stop</button>
    <hr>
{% endblock %}

{% block Scripts %} <script type="module" src="{% static 'scanner.js' %}"></script> {% endblock %}