{% extends 'index.html' %}

{% block Title %} Teams {% endblock %}

{% block Content %}
    <h2>Teams</h2>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Team Number</th>
            <th>Pit Scout Status</th>
        </tr>
        </thead>
        <tbody>
        {% for team in all_teams %}
            <tr>
                <td><a href="{% url 'team_page' team.team_number %}">{{ team.team_number }}</a></td>
                {% if team.pit_scout_status == True %}
                    <td style="color:mediumspringgreen">Pit Scouted</td>
                {% else %}
                    <td><a style="color:red" href="{% url 'pit_scouting' team.team_number %}">Pit Scout</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}