{% extends 'index.html' %}
{% load static %}

{% block Title %} Match Summary {% endblock %}

{% block Styles %}
    <link rel="stylesheet" href="{% static 'graphic_grid.css' %}">
{% endblock %}

{% block Content %}
    <h2 class="d-inline-block">{{ match.quantifier }} Match {{ match.match_number }} Summary</h2>
    <br>
    <div class="dropdown d-inline-block">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            {{ team_number }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item red-selection" id="redOne" href="{% url 'match_summaries' match.quantifier match.match_number match.red_one %}">Red One: {{ match.red_one }}</a>
            <a class="dropdown-item red-selection" id="redTwo" href="{% url 'match_summaries' match.quantifier match.match_number match.red_two %}">Red Two: {{ match.red_two }}</a>
            <a class="dropdown-item red-selection" id="redThree" href="{% url 'match_summaries' match.quantifier match.match_number match.red_three %}">Red Three: {{ match.red_three }}</a>
            <a class="dropdown-item blue-selection" id="blueOne" href="{% url 'match_summaries' match.quantifier match.match_number match.blue_one %}">Blue One: {{ match.blue_one }}</a>
            <a class="dropdown-item blue-selection" id="blueTwo" href="{% url 'match_summaries' match.quantifier match.match_number match.blue_two %}">Blue Two: {{ match.blue_two }}</a>
            <a class="dropdown-item blue-selection" id="blueThree" href="{% url 'match_summaries' match.quantifier match.match_number match.blue_three %}">Blue Three: {{ match.blue_three }}</a>
        </div>
    </div>
    <h2>Team {{ team_number }}</h2>
    <h6>Key: Cone | Cube</h6>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Auto Charging</th>
            <th>Auto Upper</th>
            <th>Auto Middle</th>
            <th>Auto Lower</th>
            <th>Teleop Upper</th>
            <th>Teleop Middle</th>
            <th>Teleop Lower</th>
            <th>End Charging</th>
            <th>Total Points</th>
            <th>Driver Ranking</th>
            <th>Defense Ranking</th>
            <th>Comments</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ team_match_data.auto_charging_station }}</td>
                <td>{{ team_match_data.auto_upper_cone_counts }} | {{ team_match_data.auto_upper_cube_counts }}</td>
                <td>{{ team_match_data.auto_middle_cone_counts }} | {{ team_match_data.auto_middle_cube_counts }}</td>
                <td>{{ team_match_data.auto_lower_cone_counts }} | {{ team_match_data.auto_lower_cube_counts }}</td>
                <td>{{ team_match_data.teleop_upper_cone_counts }} | {{ team_match_data.teleop_upper_cube_counts }}</td>
                <td>{{ team_match_data.teleop_middle_cone_counts }} | {{ team_match_data.teleop_middle_cube_counts }}</td>
                <td>{{ team_match_data.teleop_lower_cone_counts }} | {{ team_match_data.teleop_lower_cube_counts }}</td>
                <td>{{ team_match_data.end_charging_station }}</td>
                <td>{{ team_match_data.total_points }}</td>
                <td>{{ team_match_data.driver_ranking }}</td>
                <td>{{ team_match_data.defense_ranking }}</td>
                <td>{{ team_match_data.comment }}</td>
                <td>{{ team_match_data.scout_name }}</td>
            </tr>
        </tbody>
    <table class="match-table">
        <tbody>
        <tr class="key">
            <td>Top</td>
            <td>Mid</td>
            <td>Bot</td>
        </tr>
        <tr id="scoring-image">
        </tr>
        </tbody>
    </table>

{% endblock %}

{% block Scripts %}
    <script rel="script" src="{% static 'graphic_grid_manager.js' %}" defer data-team-number="{{ team_number }}"></script>
    {{ all_teams_in_match | json_script }}
    {{ scoring_grid | json_script }}
{% endblock %}