{% extends 'index.html' %}
{% load static %}

{% block Title %} Match Summary {% endblock %}

{% block Content %}
    <h2 class="d-inline-block">{{ match.quantifier }} Match {{ match.match_number }} Summary</h2>
    <div class="dropdown d-inline-block">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{ match_data_wanted }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'match_summaries' match.quantifier match.match_number "Red_Total" %}">Red_Total</a>
            <a class="dropdown-item" href="{% url 'match_summaries' match.quantifier match.match_number "Blue_Total" %}">Blue_Total</a>
            <a class="dropdown-item" href="{% url 'match_summaries' match.quantifier match.match_number match.red_one %}">Red One: {{ match.red_one }}</a>
            <a class="dropdown-item" href="{% url 'match_summaries' match.quantifier match.match_number match.red_two %}">Red Two: {{ match.red_two }}</a>
            <a class="dropdown-item" href="{% url 'match_summaries' match.quantifier match.match_number match.red_three %}">Red Three: {{ match.red_three }}</a>
            <a class="dropdown-item" href="{% url 'match_summaries' match.quantifier match.match_number match.blue_one %}">Blue One: {{ match.blue_one }}</a>
            <a class="dropdown-item" href="{% url 'match_summaries' match.quantifier match.match_number match.blue_two %}">Blue Two: {{ match.blue_two }}</a>
            <a class="dropdown-item" href="{% url 'match_summaries' match.quantifier match.match_number match.blue_three %}">Blue Three: {{ match.blue_three }}</a>
        </div>
    </div>
    <hr style="height:20px; visibility:hidden;" />
    <canvas id="auto_grid" width="1100" height="275"></canvas>
    <h3>Auto Grid</h3>
    <br>
    <canvas id="teleop_grid" width="1100" height="275"></canvas>
    <h3>Teleop Grid</h3>
{% endblock %}

{% block Scripts %}
    <script rel="script" src="{% static 'graphic_grid_manager.js' %}"></script>
{% endblock %}