{% extends 'index.html' %}

{% block Title %} Matches List {% endblock %}

{% block Content %}
    <h2>Matches List</h2>
    <table class="table table-responsive table-striped">
        <thead>
        <tr>
            <th colspan="12" style="text-align: center">Match</th>
            <th colspan="12" style="text-align: center">Red Alliance</th>
            <th colspan="12" style="text-align: center">Blue Alliance</th>
        </tr>
        </thead>
        <tbody>
        {% for match in matches %}
            <tr>
                <td colspan="12"><a href="{% url 'match_summaries' match.quantifier match.match_number match.red_one %}">
                    {{ match.quantifier }} Match {{ match.match_number }}</a></td>
                <td colspan="4"><a href="{% url 'team_page' match.red_one %}">{{ match.red_one }}</a></td>
                <td colspan="4"><a href="{% url 'team_page' match.red_two %}">{{ match.red_two }}</a></td>
                <td colspan="4"><a href="{% url 'team_page' match.red_three %}">{{ match.red_three }}</a></td>
                <td></td>
                <td colspan="4"><a href="{% url 'team_page' match.blue_one %}">{{ match.blue_one }}</a></td>
                <td colspan="4"><a href="{% url 'team_page' match.blue_two %}">{{ match.blue_two }}</a></td>
                <td colspan="4"><a href="{% url 'team_page' match.blue_three %}">{{ match.blue_three }}</a></td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}