{% extends 'index.html' %}

{% block Title %}Rankings{% endblock %}

{% block Content %}
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Team Number</th>
            <th>A-Notes</th>
            <th>T-Notes</th>
            <th>Traps</th>
            <th>Climb</th>
        </tr>
        </thead>
        <tbody>
        {% for team_number, team_stats in team_averages.items %}
            <tr>
                {% for stat in team_stats %}
                    <td>{{ stat }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}