{% extends 'index.html' %}

{% block Title %} Team {{ team.team_number }}{% endblock %}

{% block Content %}
    <h2>Team {{ team.team_number }}</h2>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Match</th>
            <th>A-Leave</th>
            <th>A-Amp</th>
            <th>A-Speaker</th>
            <th>T-Amp</th>
            <th>T-Speaker</th>
            <th>Trap</th>
            <th>Climb</th>
            <th>Driver Ranking</th>
            <th>Defense Ranking</th>
            <th>Comments</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for match in all_team_match_data %}
            <tr>
                <td><a href="{% url 'match_summaries' match.quantifier match.match_number team.team_number %}"><div style="white-space: nowrap; overflow: hidden;">{{ match.quantifier }} {{ match.match_number }}</div></a></td>
                <td>{{ match.auto_leave }}</td>
                <td>{{ match.auto_amp }}</td>
                <td>{{ match.auto_speaker_make}}</td>
                <td>{{ match.teleop_amp }}</td>
                <td>{{ match.teleop_speaker_make }}</td>
                <td>{{ match.trap }}</td>
                <td>{{ match.climb }}</td>
                <td>{{ match.driver_ranking }}</td>
                <td>{{ match.defense_ranking }}</td>
                <td>{{ match.comment }}</td>
                <td>{{ match.scout_name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}