{% extends 'index.html' %}

{% block Title %} Team {{ team.team_number }}{% endblock %}

{% block Content %}
    <h2>Team {{ team.team_number }}</h2>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Match</th>
            <th>Auto Charging</th>
            <th>Auto Upper</th>
            <th>Auto Middle</th>
            <th>Auto Lower</th>
            <th>Teleop Upper</th>
            <th>Teleop Middle</th>
            <th>Teleop Lower</th>
            <th>Cone Transport</th>
            <th>Cube Transport</th>
            <th>End Charging</th>
            <th>Total Points</th>
            <th>Driver Ranking</th>
            <th>Defense Ranking</th>
            <th>Comments</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for match in team.team_match_data.all %}
            <td>{{ match.match_number }}</td>
            <td>{{ match.auto_charging_station }}</td>
            <td>{{ match.auto_upper_counts }}</td>
            <td>{{ match.auto_middle_counts }}</td>
            <td>{{ match.auto_lower_counts }}</td>
            <td>{{ match.teleop_upper_counts }}</td>
            <td>{{ match.teleop_middle_counts }}</td>
            <td>{{ match.teleop_lower_counts }}</td>
            <td>{{ match.cone_transport }}</td>
            <td>{{ match.cube_transport }}</td>
            <td>{{ match.end_charging_station }}</td>
            <td>{{ match.total_points }}</td>
            <td>{{ match.driver_ranking }}</td>
            <td>{{ match.defense_ranking }}</td>
            <td>{{ match.comment }}</td>
            <td>{{ match.scout_name }}</td>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}