{% extends 'index.html' %}

{% block Title %} Teams {% endblock %}

{% block Content %}
    <h2>Teams</h2>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Team Number</th>
            <th>Pit Scout Status</th>
        </tr>
        </thead>
        <tbody>
        {% for team in all_teams %}
            <tr>
                <td><h4><a href="{% url 'team_page' team.team_number %}">{{ team.team_number }}</a></h4></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}